.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.aling-items{
    align-items: center;
}
.inverted{
    filter: invert(1);
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 10px;
}
.m-1{
    margin: 6px;
}
.p-1{
    padding: 10px;
}
.border{
    border: 2px solid red;
}